@media screen and (min-width: 640px) {
  .hero-section {
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 100px;
  }

  .hero-text-content {
    align-items: flex-start;
    max-width: 720px;
    text-align: left;
  }

  .heroTitle {
    max-width: 100px;
    font-size: 62px;
  }

  .hero-description {
    max-width: 360px;
  }

  .hero-stats {
    flex-direction: row;
    justify-content: flex-start;
    gap: 32px;
    max-width: 598px;
  }

  .stat-divider {
    display: block;
    background-color: #00000010;
    width: 1px;
    height: 100%;
  }

  .hero-image img {
    width: auto;
  }
}
