@import "tailwindcss";
:root {
  --color-white: white;
  --color-black: #000000;
  --paragraph-color: #00000060;
  --button-bg-color: #f0f0f0;
  --components-bg-color: #f2f0f1;

  /* Typography */
  --font-family-Poppins: "Poppins", Arial;
}
